<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/ui-lightness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jqGridcss/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/themes/message/message_default.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jqGrid/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery/jquery-ui-1.9.2.custom.js" type="text/javascript"></script>
    <script src="/Scripts/jqGrid/grid.locale-en.js" type="text/javascript"></script>
    <script src="../../Scripts/jqGrid/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="../../Scripts/message.js" type="text/javascript"></script>    
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <div id="header"><br /><br /><br /><br /><br /><br /></div>
</head>

<body>
<div style = "position:absolute;">
    <h4>
@{ 
         if (!ApplicationInstance.Request.AppRelativeCurrentExecutionFilePath.Equals("~/Home")){
        <text> | <a href="/Home" class="a">Home</a></text>}      
         if (!ApplicationInstance.Request.AppRelativeCurrentExecutionFilePath.Equals("~/Test/TestManagement")){
        <text> | <a href="/Test/TestManagement" class="a">Manage Tests</a></text>}
        if (!ApplicationInstance.Request.AppRelativeCurrentExecutionFilePath.Equals("~/Profile")){
        <text> | <a href="/Profile" class="a">Profile</a></text>}                                                                           
         if (!ApplicationInstance.Request.AppRelativeCurrentExecutionFilePath.Equals("~/Logout")){
        <text> | <a href="/Logout" class="a">Logout</a></text>}                                                                                                             
    }
    </div>
    <br /><br /><br /> 
        <p>Test Management Control panel</p>
      </h4>
    @RenderBody()
    <div id="footer">
        <div style="position: relative; text-align: center;">Copyright © 2013 Patterson Corporation</div>
    </div>
    
</body>
</html>


<script type="text/javascript">
    (function ($) {
        $(".a").button();
    })(jQuery);
</script>
